* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #202125;
  width: 100%;

  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;

}

.accordion {
  height: 30px;
  width: 100%;
  background-color: #202125;
}

.accordion-extend {
  display:none;
  background-color: black;
}

.checkbox {
  display: ;
  cursor: pointer;
  font-family: ;
  font-size: ; 
}

.active + div {
  display: block;
  height: 200px;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
}

.user-input {  /* Search bar */
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: rgb(251, 251, 251);
}

.search-button {
  border-radius: 3px;
  padding: 0;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
}

.recipes {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
position: relative;
width: 250px;
height: 250px;
overflow: hidden;
margin: 10px 0;
}

.img-container img {  /* Rundade hörn på receptbilderna */
  border-radius: 8px;
  position: absolute;
  object-fit: cover;
  width: 100%;
}

/* @media (max-width: 700px) {
  .recipes-container {
    flex-direction: column;
    width:100%;
  }
 
  .recipes {
   width: 50%;
 }
} 
 */
/* @media (max-width: 1000px) {
  .recipes-container {
    width: 100%;
    margin: 0;
  }
  
  .recipes {
    width: 25%;
  }
} */