* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #202125;
  width: 100%;

  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;

}

.accordion {
  height: 30px;
  width: 100%;
  background-color: #202125;
}

.accordion-extend {
  display:none;
  background-color: black;
}

.checkbox {
  display: ;
  cursor: pointer;
  font-family: ;
  font-size: ; 
}

.active + div {
  display: block;
  height: 200px;
  width: 100%;
}

.main {
  /* width: 100%;
  display: flex;
  flex-direction: column; */
}

h1 {
  font-size: 24px;
}

.header {
  background-color: #dfdbdb;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-left: 20px;
  /* position: relative; */
}

.checkbox {
  display: ;
  cursor: pointer;
  font-family: ;
  font-size: ; 
  position: relative;
  width: ;
  height: 10p;
}

.logo {
  width: 50px;
  /* position: absolute; */
}

.menu li, a  {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  color: #202125
}

.user-input {  /* Search bar */
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: rgb(251, 251, 251);
}

.search-button {
  border-radius: 3px;
  padding: 0;
}

.recipes-container {
  
}

.recipes {  /* This is the parent div of recipe images */
  /* width: 100%;
  margin: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container { /* This is the div of each recipe image */
  width: 100%;
}

.img-container img {  /* Rundade hörn på receptbilderna */
  border-radius: 8px;
 
}

.footer {
  background-color: #dfdbdb;
  height: 100px;

}

/** MEDIA QUERIES  **/
@media (min-width: 700px) {
  .recipes-container {
   
    /* width:100%; */
  }
 
  .recipes { /* This is the parent div of recipe images */
   flex-direction: row;
   flex-wrap: wrap;
 }

 .img-container {  /* This is the div of each recipe image */
   width: 50%;
 }
} 
 
@media (min-width: 1000px) {
  .recipes-container {
    /* width: 100%; */
    margin: 0;
  }
  
  .img-container {
    width: 25%;
  }
}